<?xml version='1.0' encoding='utf-8'?>
<plugin id="icp-secure-random-generator" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>SecureRandomGenerator</name><js-module name="SecureRandomGenerator" src="www/SecureRandomGenerator.js"><clobbers target="cordova.plugins.SecureRandomGenerator" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="SecureRandomGenerator"><param name="android-package" value="tn.cgs.securerandom.SecureRandomGenerator" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/SecureRandomGenerator.java" target-dir="src/tn/cgs/securerandom/SecureRandomGenerator" /></platform></plugin>